@use "../variables" as *;
@use "../base/_typography" as *;

// Link with description
// --------------------------------------------------------------------------
// This component is used to display a link with a description.
// The link is currently used as the heading of the area. This could 
// be changed in the future.

.link-with-description {
    display: flex;
    flex-direction: column;

    gap: $spacing-md;
    margin-bottom: $spacing-md;

    &--double-width {
        grid-column: span 2;

        @media (max-width: $breakpoint-md) {
            grid-column: span 1; // Reset to single column on mobile
        }
    }

    &__link { // Currently used as the heading
        text-decoration: underline;
        font-size: $article-title-font-size;

        &:hover {
            text-decoration: none;
        }
    }

    &__description { // Text of the area
        color: $text-primary;
        font-size: $body-text-font-size;
        white-space: pre-line;
    }
}
