@use '../base/_typography' as *;
@use '../variables' as *;

// Welcome component styles
.welcome {
    width: 100%;
    min-height: 100vh;

    &__container {
        max-width: 1050px;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__text {
        font-size: $body-text-font-size;
        line-height: 1.6;
        margin-bottom: 1.5rem;

        @media (max-width: $breakpoint-md) {
            margin-bottom: $spacing-lg;
        }
    }

    &__titles {
        color: $color-title;
    }

    &__section-title { // used 
        @extend .welcome__titles;
        font-size: $section-title-font-size;
        margin-top: $spacing-xl;
        margin-bottom: 1.25rem;
    }

    &__list { // used as container for the cards
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1.5rem;
        
        > li.double-width {
            grid-column: span 2 !important;
        }
    }

    // Add container padding adjustments for different screen sizes
    @media (max-width: $breakpoint-lg) {
        &__container {
            padding: 0 40px;
        }
    }

    @media (max-width: $breakpoint-md) {
        &__container {
            padding: 0 20px;
        }
    }

    @media (max-width: $breakpoint-sm) {
        &__container {
            padding: 0 15px;
        }
    }
}
