@use '../../styles/variables' as *;

.responsive-image {
  display: block;
  
  &__img {
    width: 100%;
    height: auto;
    border-radius: $border-radius-m;
    box-shadow: 0 2px 8px rgba($text-secondary, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    &:hover {
      transform: scale(1.02);
      box-shadow: 0 4px 12px rgba($color-secondary, 0.25);
    }
  }
}