// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

// Typography
$font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
$font-family-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;

// Layout
$header-footer-min-height: 20vh;
$mobile-header-footer-min-height: 10vh; 