@use './variables' as vars;
@use './base/_typography.scss' as typo;

.root-layout {
  background: vars.$background-primary;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex: 1 0 auto;
  }

  footer {
    margin-top: auto;
  }
}

header,
footer {
  width: 100%;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: clamp(typo.$font-size-s, calc(typo.$font-size-s + 1.5vmin), typo.$font-size-m);
  padding: vars.$spacing-m;
}

/* Footer styles */
footer.footer {
  position: relative;
  padding: vars.$spacing-m;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__nav {
  text-align: center;
  width: 100%;
}

.footer__version {
  position: absolute;
  right: vars.$spacing-m;
  font-size: clamp(typo.$font-size-s, calc(typo.$font-size-s + 1.5vmin), typo.$font-size-m);;
  color: vars.$color-secondary;
} 