@import './variables';

.root-layout {
  background: $background-primary;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex: 1 0 auto;
  }

  footer {
    margin-top: auto;
  }
}

header,
footer {
  width: 100%;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: clamp(14px, calc(10px + 1.5vmin), 20px);
  padding: 0.5rem;
  
  @media (max-width: 768px) {
    min-height: 8vh;
  }
}

/* Footer styles */
footer.footer {
  position: relative;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__nav {
  text-align: center;
  width: 100%;
}

.footer__version {
  position: absolute;
  right: 1rem;
  font-size: 0.8rem;
  color: var(--bs-secondary);
} 