@use '../../styles/variables' as *;
@use '../../styles/base/_typography' as *;

.link-card {
    background: $background-primary;
    border-radius: $border-radius-m;
    padding: $spacing-m;
    box-shadow: 0 2px 8px rgba($text-secondary, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: $spacing-m;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 3px 8px rgba($color-primary, 0.4);
    }

    &__link { // Currently used as the heading
        color: $color-title;
        text-decoration: underline;
        font-size: $article-title-font-size;
        
        &:hover {
            text-decoration: none;
        }
    }

    &__description {
        position: relative;
        transition: max-height 0.3s ease-out;
        font-size: $body-text-font-size;
        color: $text-primary;
        white-space: pre-line;
    }

    &__toggle {
        display: inline-block;
        background: none;
        border: none;
        color: $color-primary;
        padding: $spacing-s $spacing-m;
        margin-top: $spacing-s;
        cursor: pointer;
        font-size: $font-size-s-p;
        transition: color 0.2s ease;
        
        &:hover {
            color: $link-hover-color;
        }

        // Make the button more touch-friendly on mobile
        @include below(medium) {
            padding: $spacing-m;
            min-height: 44px;
            min-width: 44px;
        }
    }
} 