@use '../styles/variables' as vars;
@use '../styles/base/_typography.scss' as typo;

.container {
  padding: vars.$spacing-m;
  
  @media (max-width: vars.$breakpoint-m) {
    padding: vars.$spacing-s;
  }
} 

.lead {
  font-size: typo.$page-subtitle-font-size;
  color: vars.$text-primary;
  font-family: typo.$font-family-text;
}