@use '../styles/variables' as *;
@use '../styles/base/_typography' as *;

.link-card {
    background: $background-primary;
    border-radius: $border-radius-m;
    padding: $spacing-m;
    box-shadow: 0 2px 8px rgba($text-secondary, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: $spacing-m;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 3px 8px var(--bs-primary);
    }

    &__link { // Currently used as the heading
        color: $color-title;
        text-decoration: underline;
        font-size: $article-title-font-size;
        
        &:hover {
            text-decoration: none;
        }
    }

    &__description {
        font-size: $body-text-font-size;
        color: $text-primary;
        white-space: pre-line;
    }
} 