@use './styles/variables' as vars;
@use './styles/base/_typography.scss' as typo;

html {
  font-size: 16px; // Base font size for rem calculations
} 

body {
  margin: 0; // Reset default browser margin
  overflow-y: scroll; // Always show vertical scrollbar to prevent layout shifts
}

:root {
  font-family: typo.$font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}